# Ignore node modules everywhere
**/node_modules/

# Ignore Next.js build output everywhere
**/.next/
**/.log/

# Ignore custom build folders
**/build/

# Ignore environment files
**/.env
**/.env.*

# Ignore logs everywhere
**/logs/
*.log

#Ignore the dist
**/dist/